<html>
    <head>
    <meta charset="utp-8">
    <title>RTSW ranks</title>
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
        * {
            margin: 0;
            padding: 0;
            outline: none;
            box-sizing: border-box;
            font-family: "Nanum Gothic", sans-serif;
            font-size: 0;
        }
        
        .container {
            text-align: center;
            width: 900px;
            margin: 20px auto;
        }
        
        h1 {
            font-size: 40px;
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.41);
            font-weight: 100;
            letter-spacing: 30px;
        }

        #refreshTime {
            font-size: 20px;
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.41);
            font-weight: 100;
            letter-spacing: 12px;
        }
        
        .rankContainer {
            display: inline-block;
            width: 200px;
            margin: 10px;
        }
        
        ul.rank {
            width: 100%;
            list-style: none;
        }
        
        ul.rank li {
            border-top: 1px solid rgba(0, 0, 0, 0.31);
            font-size: 12px;
            line-height: 12px;
            padding: 4px;
            text-align: left;
        }
        
        ul.rank li:first-child {
            font-weight: bolder;
        }
        
        .rankNumber {
            display: inline-block;
            width: 10px;
            height: 12px;
            font-size: 12px;
            text-align: center;
            margin-right: 10px;
        }
        
        span.naver_logo {
            background-image: url(https://s.pstatic.net/static/www/img/2017/sp_main_v171025.png);
            background-repeat: no-repeat;
            background-size: 200px auto;
            background-position: center 5px;
            height: 60px;
            display: block;
        }
        
        span.daum_logo {
            background-image: url(https://t1.daumcdn.net/daumtop_chanel/op/20170315064553027.png);
            background-repeat: no-repeat;
            background-size:auto 100px;
            background-position: -10px -19px;
            height: 60px;
            display: block;
        }
        
        span.zum_logo {
            background-image: url(http://lego.zumst.com/resources/current/images/img_zum_logo_2x.png);
            background-repeat: no-repeat;
            background-size:auto 40px;
            background-position: center;
            height: 60px;
            display: block;
        }
        
        .rankNaver {
            border: 3px solid #00ab33;
        }
        
        .rankNaver .rankNumber {
            color: #00ab33;
        }
        
        .rankDaum {
            border: 3px solid #0089FF;
        }
        
        .rankDaum .rankNumber {
            color: #0089FF;
        }
        
        .rankZum {
            border: 3px solid #1B52ED;
        }
        
        .rankDaum .rankNumber {
            color: #1B52ED;
        }

        .rankNate {
            border: 3px solid #E61F00;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <h1>실시간검색어순위</h1>
            <h2 id="refreshTime"></h2>
            <div class="rankContainer">
                <span class="naver_logo"></span>
                <ul class="rank rankNaver">
                    <% for(let i=0; i<jsonNaver.length; i++){ %>
                        <li class="rankNaverList">
                            <span class="rankNumber">
                                <%= i+1 %>
                            </span>
                            <%= jsonNaver[i].searchWord %>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="rankContainer">
                <span class="daum_logo"></span>
                <ul class="rank rankDaum">
                    <% for(let i=0; i<jsonDaum.length; i++){ %>
                        <li class="rankDaumList">
                            <span class="rankNumber">
                                <%= i+1 %>
                            </span>
                            <%= jsonDaum[i].searchWord %>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="rankContainer">
                <span class="zum_logo"></span>
                <ul class="rank rankZum">
                    <% for(let i=0; i<jsonZum.length; i++){ %>
                        <li class="rankZumList">
                            <span class="rankNumber">
                                <%= i+1 %>
                            </span>
                            <%= jsonZum[i].searchWord %>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>

        <!-- sciprt start -->
        <script>
            let refreshTime = document.getElementById("refreshTime");
            let currentTime = new Date().toLocaleString('ko-KR');
            refreshTime.innerHTML = currentTime;
            setInterval(function(){
                window.location.reload();
            }, 5000);
        </script>
    </body>
  </html>